/* button grid and button and link formatting */

.button-footer {
    display: grid;
    grid-template-columns: repeat(5, calc( 100% / 5 ) );
    grid-template-rows: 40px;
    column-gap: 2px;
}

.link-btn-delete {
    grid-column: 1;
}

.link-btn-edit {
    grid-column: 2;
}

/* Note: It is the form that is the child, not the button! */
.frm-withdraw {
    grid-column: 3;
}

.frm-signup {
    grid-column: 4;
}

.link-back-to-list {
    grid-column: 5;
}

/* Style the buttons (and associated forms) */

/* Form fills container (grid cell) and is centers its contents*/
.submit-frm {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Note exact values required to centre text vertically */
.link-btn {
    padding-top: 12px;
    padding-bottom: 12px;
}

.button {
    width: 100%;
    height: 100%;
    color: var(--buttonTextColour);
    text-align: center;
    line-height: 100%;
    /* Left and right padding need to be zero for text align to work */
    padding-left: 0;
    padding-right: 0;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.link-btn-delete {
    background-color: var(--deleteColour);
    border-color: var(--deleteColour);
}

.link-btn-edit {
    background-color: var(--editColour);
    border-color: var(--editColour);
}

.btn-withdraw {
    background-color: var(--withdrawColour);
    border-color: var(--withdrawColour);
}

.btn-signup {
    background-color: var(--signupColour);
    border-color: var(--signupColour);
}

.view-link {
    color: var(--viewLinkColour);
}

.action-link {
    color: var(--actionLinkColour);
}

.btn-create {
    background-color: var(--createColour);
    border-color: var(--createColour);
    width: calc( 100% / 5 );
    height: 40px;
}

.btn-save-edit {
    background-color: var(--editColour);
    border-color: var(--editColour);
    width: calc( 100% / 5 );
    height: 40px;
}

.btn-final-delete {
    width: calc( 100% / 5 );
    height: 40px;
}

/* This ensures good separation of delete button and
    back to list link */
.link-separator-for-delete {
    margin-top: 2rem;
}

