/* button grid and button and link formatting */

.button-footer {
    display: grid;
    grid-template-columns: repeat(5, calc( 100% / 5 ) );
    grid-template-rows: 40px;
    column-gap: 2px;
}

.link-btn-delete {
    grid-column: 1;
}

.link-btn-edit {
    grid-column: 2;
}

/* Note: It is the form that is the child, not the button! */
.frm-withdraw {
    grid-column: 3;
}

.frm-signup {
    grid-column: 4;
}

.link-back-to-list {
    grid-column: 5;
}

/* Style the buttons (and associated forms) */

/* Form fills container (grid cell) and is centers its contents */
.submit-frm {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Note: exact values required to centre text vertically */
.link-btn {
    padding-top: 12px;
    padding-bottom: 12px;
}

/* Stop normal hover etc. of link */
.link-btn:hover,
.link-btn:focus,
.link-btn:active {
    text-decoration: none;
    color: var(--button-text-colour)
}

.button {
    width: 100%;
    height: 100%;
    color: var(--button-text-colour);
    text-align: center;
    line-height: 100%;
    /* Left and right padding need to be zero for text align to work */
    padding-left: 0;
    padding-right: 0;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

/* Delete */

.link-btn-delete {
    background-color: var(--delete-colour);
    border-color: var(--delete-colour);
}

.link-btn-delete:hover {
    box-shadow: 0 0 2px 2px var(--delete-outline);
}

.link-btn-delete:focus,
.link-btn-delete:active {
    box-shadow: 0 0 4px 4px var(--delete-outline);
}

/* Edit */

.link-btn-edit {
    background-color: var(--edit-colour);
    border-color: var(--edit-colour);
}

.link-btn-edit:hover {
    box-shadow: 0 0 2px 2px var(--edit-outline);
}

.link-btn-edit:focus,
.link-btn-edit:active {
    box-shadow: 0 0 4px 4px var(--edit-outline);
}

/* Withdraw */

.btn-withdraw {
    background-color: var(--withdraw-colour);
    border-color: var(--withdraw-colour);
}

.btn-withdraw:hover {
    box-shadow: 0 0 2px 2px var(--withdraw-outline);
}

.btn-withdraw:focus,
.btn-withdraw:active {
    box-shadow: 0 0 4px 4px var(--withdraw-outline);
}

/* Signup */

.btn-signup {
    background-color: var(--signup-colour);
    border-color: var(--signup-colour);
}

.btn-signup:hover {
    box-shadow: 0 0 2px 2px var(--signup-outline);
}

.btn-signup:focus,
.btn-signup:active {
    box-shadow: 0 0 4px 4px var(--signup-outline);
}

.view-link {
    color: var(--view-link-colour);
}

.action-link {
    color: var(--action-link-colour);
}

/* Create */

.btn-create {
    background-color: var(--create-colour);
    border-color: var(--create-colour);
    width: calc( 100% / 5 );
    height: 40px;
}

.btn-create:hover {
    box-shadow: 0 0 2px 2px var(--create-outline);
}

.btn-create:focus,
.btn-create:active {
    box-shadow: 0 0 4px 4px var(--create-outline);
}

/* Save edit */

.btn-save-edit {
    background-color: var(--save-colour);
    border-color: var(--save-colour);
    width: calc( 100% / 5 );
    height: 40px;
}

.btn-save-edit:hover {
    box-shadow: 0 0 2px 2px var(--save-outline);
}

.btn-save-edit:focus,
.btn-save-edit:active {
    box-shadow: 0 0 4px 4px var(--save-outline);
}

/* Final delete */
.btn-final-delete {
    background-color: var(--final-delete-colour);
    border-color: var(--final-delete-colour);
    width: calc( 100% / 5 );
    height: 40px;
}

.btn-final-delete:hover {
    box-shadow: 0 0 2px 2px var(--final-delete-outline);
}

.btn-final-delete:focus,
.btn-final-delete:active {
    box-shadow: 0 0 4px 4px var(--final-delete-outline);
}

/* This ensures good separation of delete button
   and back-to-list link */
.link-separator-for-delete {
    margin-top: 2rem;
}

