/* Home Page */

.home-page {
    max-width: 800px;
}

.home-page div {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 3.2825vw;
    margin-top: 0.5rem;
}

.home-page div img {
    grid-column: 2;
    justify-self: end;
    align-self: center;
    width: 10vw;
    height: 6.565vw;
}

.home-page div h1 {
    align-self: center;
}

.home-page-picture {
    /* To allow the caption to be positioned relative to figure container */
    position: relative;
    margin-top: 1.5rem;
}

.home-page-picture img {
    width: 100%;
}

.home-page-picture figcaption {
    position: absolute;
    /* Need to reduce width from page width to width of text
    otherwise moving left pushes it outside the screen area
    and generates a horizontal scrollbar. */
    width: 50%;
    top: 0vw;
    left: 48%;
    text-align: right;
    font-family: 'Courgette', cursive;
}

.home-page-picture figcaption p {
    margin-top: 0.4rem;
    margin-bottom: 0;
}

