@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@import 'tooltip.css';
@import 'homepage.css';
@import 'trip-details.css';
@import 'buttons-and-links.css';

/* Note: The W3C CSS Validation service:
*  https://jigsaw.w3.org/css-validator/#validate_by_input
*  Gives errors on all the constants (New CSS3 feature),
*  but they work fine in practice.
*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: auto;
    font-size: 14px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    /* Colour variables to maintain standardised colouring*/
    --background-colour: #e0e3bf; /* lightish green */
    --text-colour: #34391c; /* very dark green */
    --view-link-colour: #0060B7; /* blue */
    --action-link-colour: #0060B7; /* blue */
    --delete-colour: #AA406A; /* dark pink */
    --edit-colour: #46708E; /* blue grey */
    --save-colour: #887402; /* dark yellow */
    --withdraw-colour: #A66400; /* dark orange */
    --signup-colour: #586F00; /* dark green */
    --create-colour: #80226c; /* purple */
    --final-delete-colour: #c82333; /* Default red*/
    --button-text-colour: #FFFFFF; /* white */
    /* Outlines */
    --withdraw-outline: #FFC01A;
    --signup-outline: #ADD900;
    --delete-outline: #FF6FA8;
    --edit-outline: #2FA7FF;
    --save-outline: #F9D300;
    --create-outline: #FF20CD;
    --final-delete-outline: #FF707E;
    /* Set colours for whole app*/
    background-color: var(--background-colour);
    color: var(--text-colour);
}

header {
    position: fixed;
    width: 100%;
    height: 51px;
    top: 0;
    bottom: auto;
    z-index: 1;
}

.footer {
    height: 40px;
    line-height: 40px;
    background-color: white;
}

.navbar,
.footer {
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand img {
    width: 25px;
    height: 16.41px;
}

.navbar-brand {
    font-size: 1.2rem;
}

.nav-link {
    font-size: 1rem;
}

.nav-link:hover {
    text-decoration: underline;
}

.club-name-long {
    visibility: hidden;
    position: absolute;
}

.long-form {
    visibility: hidden;
    position: absolute;
}

main {
    /* Provide space for fixed header*/
    padding-top: 60px;
}

h1 {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 600;
}

h2 {
    font-size: 1.0rem;
    margin-top: 1.5rem;
    font-weight: 600;
}

p {
    line-height: 1.2rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

li {
    line-height: 1.2rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

ul {
    margin-top: -0.5rem;
    margin-left: 2rem;
    padding-left: 0
}

dt,
dd {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
}

/* Trip List */

.trip-table {
    font-size: 0.8rem;
}

.trip-table th,
.trip-table td {
    border-bottom-color: var(--text-colour);
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom: 1px solid var(--text-colour);
}

.trip-detail-page {
    max-width: 500px;
}


.button-footer {
    max-width: 500px;
    margin-top: 2rem;
}

@media screen and (min-width: 400px) {
    /* Fix the button width */
    /* Stop stretching buttons with grid cell width */
    .button-footer {
        justify-items: center;
    }

    .button {
        width: 74px;
    }

}

/* Breakpoint from hamburger menu */
@media screen and (min-width: 576px) {

    .home-page-picture figcaption p {
        font-size: 1.2rem;
        margin-top: 0.6rem;
        margin-bottom: 0;
    }

    .trip-table {
        font-size: 1rem;
    }

}

/* Tablet */
@media screen and (min-width: 768px) {

    body {
        font-size: 16px;
    }

    .navbar-brand img {
        width: 30px;
        height: 19.7px;
    }

    /* Switch visibility from short form of
       level and date to long form */
    .short-form {
        visibility: hidden;
        position: absolute;
    }

    .long-form {
        visibility: visible;
        position: static;
    }

    h1 {
        font-size: 1.4rem;
        margin-top: 1rem;
    }

    h2 {
        font-size: 1.2rem;
        margin-top: 1.5rem;
    }

    p {
        line-height: 1.4rem;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }

    li {
        line-height: 1.4rem;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }

    ul {
        margin-top: -0.5rem;
    }

    .home-page div img {
        width: 7.5vw;
        height: 4.92375vw;
    }

    .trip-table {
        font-size: 1rem;
    }

    .button {
        width: 92px;
    }

    .club-name-long {
        visibility: visible;
        position:static;
    }
}

@media screen and (min-width: 1060px) {

    body {
        font-size: 18px;
    }

    .navbar-brand {
        font-size: 1.3rem;
    }

    .nav-link {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 1.6rem;
        margin-top: 1.6rem;
    }

    h2 {
        font-size: 1.4rem;
        margin-top: 1.4rem;
    }

    p {
        line-height: 1.4rem;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }

    li {
        line-height: 1.4rem;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }

    ul {
        margin-top: -0.5rem;
        margin-left: 2rem;
        padding-left: 0
    }

    .home-page div img {
        width: 5vw;
        height: 3.2825vw;
    }

    .trip-detail-page,
    .button-footer {
        max-width: 1060px;
    }

    /* Show in two columns */
    .trip-detail-page {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        column-gap: 60px;
    }

    .trip-detail {
        grid-row: 2;
        grid-column: 1;
        align-self: start;
    }

    .trip-participant-info {
        grid-row: 2;
        grid-column: 2;
        align-self: start;
    }

    .button-footer {
        grid-row: 3;
        grid-column: 1 / span 2;
    }
    
    .trip-participant {
        line-height: 1.8rem
    }
}


    
    
    
    
    
    
