
/* Tooltip modified from example given at W3Schools:
https://www.w3schools.com/css/css_tooltip.asp
*/

/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    background-color: black;
    color: white;
    font-size: 0.8em;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    top: 10px;
    left: 89%;
    position: absolute;
    z-index: 2;
}

/* Show the tooltip text when you mouse over the tooltip container */
#member-name:hover + .tooltiptext {
    visibility: visible;
}
