
/* Trip Details */

.trip-details-title-panel {
    position: fixed;
    height: 40px;
    width: 100%;
    top: 60px;
    bottom: auto;
    z-index: 1;
}

/* First panel with trip description */

.trip-detail {
    display: grid;
    grid-template-columns: repeat(3, calc( 100% / 3 ) );
    grid-template-rows: auto, auto, auto;
}

.trip-date {
    grid-row: 1;
    grid-column: 1;
}

.trip-title {
    grid-row: 1;
    grid-column: 2 / span 2;
}

.trip-level {
    grid-row: 2;
    grid-column: 1 / span 1;
}

.trip-distance {
    grid-row: 2;
    grid-column: 2 / span 1;
}

.trip-elevation-gain {
    grid-row: 2;
    grid-column: 3 / span 1;
}

.trip-description {
    grid-row: 3;
    grid-column: 1 / span 3;
}

/* Second panel with participant information */

.trip-participant-info {
    display: grid;
    grid-template-columns: repeat(2, calc( 100% / 2 ) );
    grid-template-rows: auto, auto, auto;
}

.trip-max-participants-title {
    grid-row: 1;
    grid-column: 1 / span 1;
}

.trip-max-participants {
    grid-row: 1;
    grid-column: 2 / span 1;
}

.trip-leader-title {
    grid-row: 2;
    grid-column: 1 / span 1;
}

.trip-leader {
    grid-row: 2;
    grid-column: 2 / span 1;
}

.trip-participants-title {
    grid-row: 3;
    grid-column: 1 / span 1;
}

.trip-participant-list {
    grid-row: 3;
    grid-column: 2 / span 1;
}

.trip-participant {
    display: block;
}
