@{
    ViewData["Title"] = "Privacy Policy";
}
<article class="privacy-page">
    <h1>Wandering Heights Hiking Club – Privacy Statement</h1>
    <p>The Club Trip Pages are accessible only to registered club members.</p>
    <p>However, be aware that all club members will be able to see all the trips you are signed up for, together with all details of the trip, including date and destination.</p>
    <p>Wandering Heights Hiking Club will not share any information that you supply to these pages with any third-party, not even in the form of anonymized, summary data.</p>
</article>